[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"

[packages]
python-dotenv = "*"
pyecharts = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.7"
